* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 89, 147);
    font: normal 15pt Arial, sans-serif;
}

/* Cabeçalho */
header {
    color: white;
    text-align: center;
    padding: 20px;
}

/* Seção principal */
section {
    background-color: rgb(231, 223, 247);
    border-radius: 10px;
    width: 700px;
    margin: 30px auto;
    box-shadow: 5px 5px 10px #1c2733;
    font-size: 20pt;
    text-align: center;
    padding: 15px;
}

/* Imagem circular */
img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

/* Container do player */
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #3f44498f;
    border-radius: 15px 15px 0 0;
    padding: 15px 30px;
    height: 90x;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    gap: 5px;
    z-index: 999;
}
/* Logo do player */
.logo {
    background-color: #f7f7f7;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 24px;
    color: #333;
}

/* Nome da música */
#musicName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    max-width: 500px;
    flex-grow: 1;
    color: white;
}

/* Controles (botões de play/next/prev) */
.controls {
    display: flex;
    gap: 10px;
}

.controls button {
    border: none;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
}

.controls button:hover {
    background-color: lightgray;
}

/* Barra de progresso + tempo */
.footer {
    width: 100%;
    margin-top: 1px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #333;
    border-radius: 5px;
    transition: width 0.3s;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000;
}